@page{
    margin: 0cm 0cm;
    font-size: 1em;
}

body{
    margin: 7.5cm 1.25cm 4cm 1.25cm;
}

header{
    position: fixed;
    top: 0cm;
    left: 0cm;
    right: 0cm;
    height: 3cm;
    /* background-color: #46c66b; */
    color: white;
    text-align: center;
    line-height: 15px;
}

footer{
    position: fixed;
    bottom: 1cm;
    left: 0cm;
    right: 0cm;
    height: 4cm;
    /* background-color: #46c66b;  */
    color: white;
    text-align: center;
    line-height: 11px;
}

.list-data{
    padding: 0.1em 0.1em 0.1em 1.3em;
    border-style:none;
}

.list-data-header{
    padding: 0.1em 0.1em 0.1em 1.1em;
    border-style:none;
}

.list-data-footer{
    padding: 0.1em;
    margin-left: -3.7em;
    border: black;
    padding-left: 1em;
    padding-top: 0.5em
}